<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
  <default>
    <carriers>
      <meetup_shipping>
        <active>0</active>
        <sallowspecific>0</sallowspecific>
        <price>0</price>
        <model>Meetup\Shipping\Model\Carrier\Shipping</model>
        <name>Fixed</name>
        <title>Meetup Shipping</title>
        <specificerrmsg>This shipping method is not available for this kind of products</specificerrmsg>
        <sort_order>2</sort_order>
        <attribute_set>0</attribute_set>
      </meetup_shipping>
    </carriers>
  </default>
</config>